header,main,nav,footer{
    border : 1px solid black;

}

#E{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}



header div a{
    display: flex;
    text-decoration: none;

}

header{
    background-color: rgb(51, 109, 232);
    font-size: 25;
}

nav,main{
    background-color: rgb(167, 144, 238);
}

footer{
    background-color: rgb(244, 242, 203);

}